<h1>Products Listing</h1>
<table>
<tr>
  <td>Name</td>
  <td>Version</td>
</tr>
<% @products.each do |product| %>
<tr>
  <td><%= product.name -%></td>
  <td><%= product.version -%></td>
</tr>
<% end %>
</table>
<br>
<div class="product">
  <a href= "<%=new_product_path-%>">Create Product</a>
</div>
