<h1>Enter Product Details</h1>
<div class="product">
  <%= form_tag(products_path) do -%>
    Name: <%= text_field_tag 'name' -%>
    Version: <%= text_field_tag 'version' -%>
    <%= submit_tag 'Save' -%>
  <% end %>
</div>
